* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Inter Variable",
        "FontAwesome 6 Free", 
        "FontAwesome 6 Brands",
        Roboto, 
        Helvetica, 
        Arial, 
        sans-serif;
    font-size: 17.5px;
}

window#waybar {
    background-color: #1b1c1f;
    color: #6c6d6f;
    padding-left: 8px;
    padding-right: 8px;
}

#window {
    color: #BCBCBD;
    font-weight: bold;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces {
    padding-left: 7px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    color: #5294e2;
    box-shadow: inset 0 -3px #5294e2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #BCBCBD;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused,
#workspaces button.active {
    color: white;
    background-color: #424446;
    box-shadow: inset 0 -3px #5294e2;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#custom-colorpicker,
#custom-ime,
#custom-powermenu,
#custom-media {
    padding: 0 5px;
    color: #BCBCBD;
    font-family: "Inter Variable",
        "FontAwesome 6 Free", 
        "FontAwesome 6 Brands",
        Roboto, 
        Helvetica, 
        Arial, 
        sans-serif;
    font-weight: bold;
    background-color: transparent;

}

#window {
    margin: 0 4px;
}

#custom-powermenu {
    margin-right: 7px;
}

#custom-powermenu:hover,
#custom-colorpicker:hover,
#custom-ime:hover {
    background-color: #424446;
    color: white;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: #FFCF91;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#memory {
    color: #658BD6;
}

#network.disconnected {
    color: #f53c3c;
}

#network.linked {
    color: #f5d33c;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-colorpicker {
    padding: 0 10px;
}

#custom-media {
    color: #66cc99;
    min-width: 100px;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    color: #8BB159;
}

#temperature.critical {
    color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
    border-bottom: 3px solid rgba(100, 114, 125, 0.75);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#language {
    font-family: "Inter Variable";
    font-weight: bold;
    color: white;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#pulseaudio.muted {
    color: #eb4d4b;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#taskbar button {
    color: #BCBCBD;
}

#taskbar button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #5294e2;
}

#taskbar button.active {
    color: white;
    background-color: #424446;
    box-shadow: inset 0 -3px #5294e2;
}
